* {
    margin: 0;
    padding: 0;
}

.section-1 {
    background-image: url("./yellow-bg-header.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 80vh;
}

.section-1 .logo {
    background-color: aqua;
    width: 50%;
    height: 100px;
}